APP_NAME=
DATABASE_URL=postgresql://user:password@localhost:5432/meeti
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

UPLOADTHING_TOKEN=

PUSHER_APPID= 
PUSHER_KEY = 
PUSHER_SECRET = 
PUSHER_CLUSTER =

NEXT_PUBLIC_PUSHER_KEY=$PUSHER_KEY
NEXT_PUBLIC_PUSHER_KEY_PUSHER_CLUSTER=$PUSHER_CLUSTER